/* @tailwind base;
@tailwind components;
@tailwind utilities;


.my-custom-class {
	color: red;
}

.box-shadow {
	box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}


.swiper-pagination-bullet-active {
	background-color: orange !important; 
} */